<a href="https://colab.research.google.com/github/edujongkook/8w_sbs_python_weekend/blob/main/8w_python_%EA%B8%B0%EC%B4%88_2%EC%A3%BC%EC%B0%A8_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2주차 강의 내용
### 3일차
- 컬렉션 - 딕셔너리(dict - Dictionary), 세트(set)
- 기본 입출력 (print, input) 함수  

### 4일차
- 연산자 (Operator)
- 조건문 (Condition statement)
- 반복문 (Looping statement)

## 딕셔너리 (dict - Dictionary)
인덱스(index) 대신 키(key)를 사용하여 값(value)을 저장하는 데이터 형태 입니다

In [ ]:
user_mario = {'name' : 'mario',
              'age' : 25,
              'point': 30000}
print(user_mario)

인덱스가 아닌 키를 사용해서 값에 접근할 수 있습니다.

In [ ]:
user_mario['name']

#### f-string 사용 시 조심
(키 값이 문자열로 되어 있다면 따옴표를 사용하기 때문에)

In [ ]:
print(f"user name : {user_mario['name']}, point : {user_mario['point']}")

#### ⭐값(value)의 수정, 추가와 삭제

In [ ]:
sports = {
    'kim' : 'football',
    'smith' : 'tennis',
    'park' : 'swimming'
}

In [ ]:
sports['kim'] = 'golf'  # 기존의 키를 사용해 새로운 값으로 수정가능
print(sports)

In [ ]:
sports['son'] = 'football'  # 새로운 키와 값으로 추가
print(sports)

In [ ]:
del sports['park']  # del 을 사용, 키값으로 키-값 전체 삭제
print(sports)

### key error와 get() 메서드
존재하지 않는 key를 이용하면 에러가 발생합니다.  
이를 대처하기위해 get() 메서드를 사용할 수 있습니다.

In [ ]:
sports = {
    'kim' : 'football',
    'smith' : 'tennis',
    'park' : 'swimming'
}
son_sports = sports['son']

In [ ]:
# 어떤 기본값이 필요할 때 default값 이라는 개념을 사용.
default_sports = 'baseball'

# 'son' 이라는 키가 없으면 get메서드의 두번째로 입력된 값을 사용
son_sports = sports.get('son', default_sports)
print(son_sports)

### 딕셔너리의 순환 (루프, 순회, 반복 - Loop)
기본적으로는 키의 정보만 순환됩니다.

In [ ]:
for key in sports:
    print(key)

딕셔너리의 values() 메서드를 사용하면 값을 순회할 수 있습니다.

In [ ]:
for value in sports.values():
    print(value)

키와 값을 모두 순회하려면 items() 메서드를 사용합니다.

In [ ]:
for key, value in sports.items():
    print(f"{key.title()}'s favorite sports is {value.upper()}!")

## 세트 (set)
중복이 없는 데이터 집합을 만들고 싶을 때 사용됩니다.

In [ ]:
sports = {
    'kim' : 'football',
    'smith' : 'tennis',
    'park' : 'swimming',
    'son' : 'football'  # 중복 값 football
}

play_sports = []  # 플레이되는 스포츠 목록을 만들고 싶음
for value in sports.values():
    play_sports.append(value)

print(play_sports)

In [ ]:
play_sports = []  # 플레이되는 스포츠 목록을 만들고 싶음
for value in set(sports.values()):
    play_sports.append(value)

print(play_sports)

- 직접 값으로 세트 만들기  
중괄호안에 값들을 넣으면 자동으로 중복이 제거됩니다.

In [ ]:
play_sports = {'football', 'tennis', 'swimming', 'football'}
play_sports


## ⭐ IDLE 편집기로 프로그램을 만들어 봅시다.


> 아래와 같은 리스트와 딕셔너리를 만들어 물품과 가격 정보를 표현합니다.   
> vending.py 라는 이름으로 저장해봅시다.

In [ ]:
item_menu = ['콜라', '생수', '사이다', '커피']
item_price = {'콜라' : 1500, '생수': 1000, '사이다': 1200, '커피': 900}

##  mutable / immutable -p47

mutable 과 immutable은 어떤 데이터가 지우고 다시 수정할 수 있는 데이터인지 아닌지를 의미합니다.    
mutable은 수정할 수 있는 데이터로 예를들어 리스트나 딕셔너리의 내용을 수정하더라도   
데이터를 새로 만들거나 하지 않습니다. (그대로 내용만 바꿈)

코드를 그림으로 표현해주는 사이트
https://pythontutor.com/visualize.html#mode=edit

- mutable 은 수정해도 저장된 위치(메모리 주소)가 바뀌지 않음 (list / set / dict)

In [ ]:
exam_list = [1, 2, 3 ,4 ,5]
id(exam_list)  # id() 는 변수의 메모리 주소를 표시

In [ ]:
exam_list.append(6)
id(exam_list)

- immutable 은 값을 수정하는 순간
저장되는 위치가 새로운 곳으로 바뀜 (int / float / str / tuple)

In [ ]:
s = "hello"
id(s)

In [ ]:
s = "world"
id(s)

- mutable 변수를 대입하는 경우 같은 위치를 가르키는 두개의 변수가 됨
따라서 수정사항도 함께 공유

In [ ]:
new_exam_list = exam_list

In [ ]:
id(exam_list)

In [ ]:
id(new_exam_list)

In [ ]:
exam_list.append(100)
print(new_exam_list)  # 새로만든 new에도 원래의 리스트 변경사항이 그대로 적용

#### 별개의 복사본을 만들고 싶은 경우

1.  새로운 데이터를 만들어서 저장

In [ ]:
new_exam_list = list(exam_list)  # exam_list 의 내용으로 새로운 리스트 생성하는 list() 함수
new_exam_list = exam_list[:]  # ex_list[:] 는 ex_list의 내용을 처음부터 끝까지 잘라낸 새로운 리스트

In [ ]:
id(exam_list)

In [ ]:
id(new_exam_list)

2. copy 모듈 사용

In [ ]:
import copy
new_exam_list = copy.deepcopy(exam_list)
# 새로운 공간을 만들어 값을 복사하는 것을 Deep copy (깊은 복사)
# 저장되있는 장소의 주소만 복사하는것을 Shallow copy(얕은 복사) 라고 함

In [ ]:
id(exam_list)

In [ ]:
id(new_exam_list)

## 기본입출력 (standard Input / Output) - p52

### 이스케이프 문자 (escape character)

In [ ]:
print('\'')  #  \' : 작은 따옴표 출력
print('\"')  #  \" : 큰 따옴표 출력
print('Kim\'s friend Park said \"I love Python!\".')

In [ ]:
print('hi\nhello')  # \n : 줄바꿈
print('\ttab')  # \t : tab키 삽입
sports_list = ['Football', 'Baseball', 'Golf']
print('sports:')
for sports in sports_list:
    print(f'\t{sports}')

### ❓ print() 함수로 파일 쓰기 -p55 예제 10~12라인
IDLE을 사용하여 바탕화면에 폴더를 만들고  
그 폴더 안에서 py파일을 만들어 아래 코드를 실행 해 봅시다

In [ ]:
fos = open('sample.txt', mode='wt')
print('Hello File!', file=fos)
fos.close()

### ⭐input() 함수
input()으로 사용자의 키보드 입력을 받아 저장 할 수 있습니다.

In [ ]:
user_input = input()

In [ ]:
user_input = input('아무내용이나 입력해 보세요: ')
print(user_input)

#### 숫자를 입력받을 때 조심
input() 함수로 입력받은 값은 언제나 문자열(str)으로 저장됨

In [ ]:
number = input('정수를 입력해 주세요: ')
number = number + 100
print(number)

In [ ]:
number = int(input('정수를 입력해 주세요: '))
number = number + 100
print(number)

#### ❓ input()으로 받은 정보로 딕셔너리를 만들어 봅시다
비어있는 딕셔너리를 하나 만들고 user = { }  
다음과 같이 사용자 입력을 받아 회원 정보 딕셔너리를 만들어 봅시다.

이름을 입력하세요:    
비밀번호를 입력하세요:   
이메일 주소를 입력하세요:  

마지막에 user 딕셔너리 정보 print  
예시) {'name': 'kim', 'password': '1234', 'email': 'kim@email.com'}

## 연산자 (operator) - p70

### 거듭제곱, 몫과 나머지 연산자

- 거듭제곱 : **
- 나눗셈의 몫 연산자 : //
- 나눗셈의 나머지 연산자 : %

$7^3$   $(7 × 7 \times 7)$

In [ ]:
7 ** 3  # 7의 3제곱

$43 ÷ 3$ 의 몫과 나머지

In [ ]:
43 // 3  # 43 나누기 3 의 몫

In [ ]:
43 % 3  # 43 나누기 3의 나머지

두가지를 한번에 구하는 divmod() 함수

In [ ]:
divmod(43, 3)

### ❓ 시간의 단위를 바꿔서 출력해 봅시다
초를 입력받아 -> 분, 초로 출력합니다.


1. 초단위를 입력받는 코드를 작성해봅시다.  
2. 입력받은 내용을 연산하기 위해 int로 바꿔 저장합니다.
3. 몫과 나머지를 구하는 연산자로 분, 초로 바꿔보세요.
4. 아래처럼 출력해보세요.

예시)  
초를 입력하세요: *입력*   
100초의 변환결과는 1분 40초 입니다

#### 코드

In [ ]:
input_sec = int(input('초를 입력하세요: '))

minutes = input_sec // 60
seconds = input_sec % 60
print(f'{input_sec}초의 변환결과는 {minutes}분 {seconds}초 입니다')

### 대입 연산자

In [ ]:
x = 100
x, y, z = 0, 0, 0  # 동시에 여러개의 값 할당 가능

In [ ]:
# 간단하게 값을 바꿀수 있음 (스왑 swap)
a, b = 10, 20
a, b = b, a
print(a, b)

# 다른 언어에서는 동시에 여러변수의 대입이 되지 않아서
# 임시 변수가 필요함
temp_var = a
a = b  # a <- b
b = temp_var  # b <- a

### 연산과 대입을 동시에 - 복합대입 연산자

In [ ]:
# 복합대입 연산
a += b  # a = a + b
a *= 4  # a = a * 4
b /= b  # b = b / b
a **= 2  # a = a ** 2

### 시퀀스 연산자

In [ ]:
combined_list = [1, 3, 5] + [2, 4, 6]  # [1, 3, 5, 2, 4, 6]
combined_str = 'hello' + ' ' + 'world'  # 'hello world'

### ⚡ 비트 연산자

In [ ]:
'''
0010 0110 2진수 - 8bit
128 64 32 16  8421
1000 0000

0111 0000

10
01

10
'''
bin(16 >> 3)

In [ ]:
print( 1 & 1 )  # & (AND) 연산은 두값이 모두 1인 경우에만 1
print( 1 & 0 )  # 0
print( 1 | 0 )  # |  (OR) shift + \ 연산은 두값 중 한 값만 1 이면 1
print( 1 ^ 0 )  # ^ (XOR) 두 값이 서로 다른 경우에만 1
print( ~1 )  # ~ (NOT) 값의 bit 를 역으로 바꿈
print( 1 << 2 )  # bit 의 위치를 왼쪽으로 2비트 이동
print( 4 >> 2 )  # bit 의 위치를 오른쪽으로 2비트 이동

#### ⚡ 컴퓨터가 음수를 표현하는 방법, 보수개념, signed / unsigned 형
python 은 int 형을 32bit signed 형으로 2의 보수를 이용하여 음수 표현
https://yaneodoo2.tistory.com/entry/Signed%EC%99%80-Unsigned-1%EC%9D%98-%EB%B3%B4%EC%88%98-2%EC%9D%98-%EB%B3%B4%EC%88%98%EC%9D%98-%EB%AA%A8%EB%93%A0-%EA%B2%83

### ⚡ 삼항 연산자

In [ ]:
#  X if a > b else Y  a > b 값이 True 면 X 아니면 Y
a = 100 if 10 > 100 else 0
b = 100 if 100 > 0 else 0

print(a)
print(b)

## 조건문 (Condition) - p90
- if
- match case

### if 문과 조건테스트

if 문 뒤에 나오는 조건식은 True 와 False로만 결정되며  
조건식을 테스트해 True 인 경우에만 if문에 해당되는 코드가 실행됩니다.

In [ ]:
cars = ['audi', 'bmw', 'kia', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

### 관계 연산자

- 동일한지 체크하기위해 등호를 두개 사용합니다. (==)

In [ ]:
car = 'bmw'
car == 'bmw'  # 같은지를 비교하는 항등 연산자 == (등호 2개)

In [ ]:
car = 'Audi'
car == 'audi'  # 문자열을 비교할 때 대소문자가 같아야지만 같습니다.

- 대소문자 관계없이 같은지 체크하기 위해  
lower()나 upper() 메소드를 사용할수 있습니다.

In [ ]:
car = 'Audi'
car.lower() == 'audi'

- 불일치 체크하기  
서로 다른것을 체크하기 위해 느낌표와 등호를 사용합니다. (!=)

In [ ]:
cars = ['audi', 'bmw', 'kia', 'toyota']
for car in cars:
    if car != 'kia':
        print(f'{car} 자동차는 수입차 입니다.')
    else:
        print(f'{car} 자동차는 국산차 입니다.')

- 숫자 비교하기

In [ ]:
age = 20
print(age == 20)
print(age != 20)

In [ ]:
age = 20
age > 20

In [ ]:
age >= 20

In [ ]:
age > 15

In [ ]:
age <= 30

In [ ]:
age < 20

### 논리 연산자

- 동시에 여러 조건을 만족해야하는 경우 ***and*** 연산자를 사용합니다.

In [ ]:
age = 10
height = 150

age > 12 and height > 130

- 여러조건 중 하나만 만족해도 되는경우 ***or*** 연산자를 사용합니다.

In [ ]:
age_1 = 20
age_2 = 18

age_1 > 20 or age_2 > 20

### 맴버 연산자
어떤 값이 존재하는지 ***in*** 연산자를 사용해 체크할 수 있습니다.

In [ ]:
0 in [1, 2, 3]

In [ ]:
menu = ['hotdog', 'pizza', 'burger']
'pizza' in menu

In [ ]:
'a' in 'pineapple'  # 문자열에 해당 문자가 있는지 체크

In [ ]:
'kim' in {'kim' : 'football'}  # 딕셔너리의 key에 존재하는지 체크

어떤 값이 없는지 체크하기, 없음을 체크할 때는 *not in* 을 사용합니다.

In [ ]:
banned_user = ['kim', 'park', 'son']  # 접근금지된 아이디 예시
user = 'james'
if user not in banned_user:
    print('log in')

### ⭐여러가지 if 문

#### 1. 단순한 if 문

In [ ]:
if 조건테스트:
    True 경우 실행

In [ ]:
drive_license = True
age = 20
if drive_license:
    print('운전할 수 있습니다.')

if age >= 19:
    print('투표할 수 있습니다.')

#### - 조건식의 flag 변수

flag 변수는 특정한 용도의 스위치 처럼 작동하는 변수입니다.  
예) flag변수가 True면 로그를 출력

In [ ]:
reset_flag = True # 스위치처럼 특정 행동을 켜고 끄는 flag
log_flag = True
number = 100

if reset_flag and number == 100:
    number = 0
    if log_flag:
        print('log: number reset')

#### 2. if - else 문

if 조건의 테스트가 실패(False) 인 경우 else 문의 내용이 실행됩니다.  
if 문과 else문 둘중에 한가지는 반드시 실행 됩니다.

In [ ]:
age = 17
if age >= 19:
    print('투표할 수 있습니다.')
else:
    print('아직 투표권이 없습니다.')



>#### ❓ 국어, 영어, 수학 점수를 각각 입력받아서 평균을 구하고 (점수의 총합을 3으로 나눠서),  
>평균이 80점 이상이면 '합격', 아니면 '불합격'을 출력하는 프로그램을 구현하세요.

In [ ]:
국어 점수 입력: 85
영어 점수 입력: 83
수학 점수 입력: 81
평균은 83.0점이고, 결과는 합격입니다.

##### 코드

In [ ]:
kor = int(input('국어 점수를 입력하세요 >>'))
eng = int(input('영어 점수를 입력하세요 >>'))
mat = int(input('수학 점수를 입력하세요 >>'))
m = (kor + eng + mat) / 3
if m >= 80:
    r = '합격'
else:
    r = '불합격'
print('평균은 {:.3f}점이고, 결과는 {}입니다.'.format(m, r))

#### 3. if - elif - else 문  
체크할 조건이 여러가지 있을 때 그중에 한가지만 실행되도록 할 경우가 있습니다.  
이 때 elif 로 여러가지 조건을 추가해 줍니다.

In [ ]:
age = 15

if age <= 7 :
    print('입장료는 0원 입니다.')
elif age <= 16:
    print('입장료는 10000원 입니다.')
else:
    print('입장료는 20000원 입니다.')

중복되는 코드 줄이기

In [ ]:
age = 15

if age <= 7 :
    price = 0
elif age <= 16:
    price = 10000
else:
    price = 20000

print(f'입장료는 {price}원 입니다.')

else 없이 if - elif 만으로도 만들 수 있습니다. (오직 if 만 필수요소)

In [ ]:
age = 15

if age <= 7 :
    price = 0
elif age <= 16:
    price = 10000
elif age > 16:
    price = 20000

print(f'입장료는 {price}원 입니다.')

if - elif - else 의 경우 단 한가지만 실행된다는 것이 중요합니다.  
또 다른 것을 체크하려면 따로 if문을 만들어야 합니다.

In [ ]:
age = 15
birth_day = True

if age <= 7 :
    price = 0
elif age <= 16:  # 이 라인의 elif 문의 코드가 실행되고 끝남(age가 15라면)
    price = 10000
elif birth_day:  # 이쪽의 elif 코드는 테스트도 실행도 되지 않음
    price = 0
else:
    price = 20000

print(f'입장료는 {price}원 입니다.')

In [ ]:
age = 15
birth_day = True

if age <= 7 :
    price = 0
elif age <= 16:
    price = 10000
else:
    price = 20000

if birth_day: # 별도의 if 문은 항상 테스트함
    price = 0

print(f'입장료는 {price}원 입니다.')

### ❓ 점수를 입력받아 해당하는 학점을 출력해 봅시다 -p99

점수를 입력받아서 학점을 출력하는 프로그램을 구현하세요.  

|점수|학점|
|------|:---------:|
|100 ~ 91점 이상| A |
|90 ~ 81점 이상| B |
|80 ~ 71점 이상|C|
|70 ~ 61점 이상|D|
|60점 이하|F|

In [ ]:
점수를 입력하세요: 95
점수는 95점이고, 학점은 A학점 입니다.

#### 코드

In [ ]:
score = int(input('점수를 입력하세요: '))

if score >= 91:
    grade = 'A'
elif score >= 81:
    grade = 'B'
elif score >= 71:
    grade = 'C'
elif score >= 61:
    grade = 'D'
else:
    grade = 'F'
print(f'점수는 {score}점이고, 학점은 {grade}학점 입니다.')

### match - case 문 (버전 3.10 부터 지원)

다른 프로그래밍 언어에서는 switch - case 문을 보통 지원합니다.  
switch - case 는 주어진 값과 같은 case 일 때 코드를 실행하는 조건문입니다.

In [ ]:
!python --version

In [ ]:
button = 1
match button:
    case 1:
        print('아메리카노')
    case 2:
        print('카페라떼')
    case 3:
        print('카푸치노')

## 반복문 (Looping) -p102

### for 문 (for loop)
기본적으로 for문은 데이터들의 항목 하나씩 접근하면서 마지막 데이터까지 순회합니다.

In [ ]:
item_menu = ['콜라', '사이다', '생수', '커피']

for item in item_menu:
    print(item)

### for문과 range() 함수

하지만 순회할 데이터 없이도 단순히 코드를 몇회 반복할지 정해 줄 수 있는데  
이때 보통 ***range()*** 함수를 사용합니다.

In [ ]:
for value in range(1, 5):
    print(value)

range(시작할 숫자, 끝 숫자)  여기서 끝 숫자는 포함되지 않습니다.

In [ ]:
for value in range(1, 11):
    print(value * value)

range() 함수는 기본적으로 1씩 증가하면서 진행되는데  
특정한 값으로 증가되도록 세번째 정보를 줄 수 있습니다. (스텝step 크기)

In [ ]:
for value in range(1, 11, 1):  # 스텝 크기의 디폴트 값은 1
    print(value)

for value in range(1, 11, 3):  # 1부터 10까지 2씩 증가
    print(value)

range() 를 이용하여 리스트에 숫자 채우기

In [ ]:
# num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list = []
for num in range(1, 11):
    print(num)
    num_list.append(num)

print(num_list)

list() 형변환으로 더 간단하게

In [ ]:
num_list = list(range(1, 11))
print(num_list)

### 리스트 내포 (List comprehension)

In [ ]:
double = []
for num in range(1, 11):
    double.append(num * num)

print(double)

for문을 사용해서 리스트를 생성하는 것을 더 간단하게  
압축해서 표현하는 방식을 리스트 내포 라고 합니다.

In [ ]:
double = [num * num for num in range(1, 11)]
print(double)

### 리스트 슬라이싱(Slicing)
리스트와 같이 index를 이용할 수 있는 데이터 뭉치가 있을때  
필요한 만큼 잘라내는 방법을 슬라이싱 이라고 합니다.

In [ ]:
num_list = list(range(1, 11))
print(num_list)

In [ ]:
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list[:4]  # 처음부터, 인덱스 4 전까지 (인덱스 4는 포함안됨)

In [ ]:
num_list[5:]  # 인덱스 5 부터 끝까지

In [ ]:
num_list[2:-1] # 인덱스 2 부터 마지막 인덱스 전까지

In [ ]:
num_list[3:8]  # 인덱스와 숫자항목간 차이 주의

슬라이싱도 세번째 칸에 스텝크기를 지정할 수 있습니다.

In [ ]:
num_list = list(range(1, 11))
print(num_list)

In [ ]:
num_list[2:9:1]  # 디폴트 값은 1

In [ ]:
num_list[2:9:2]  # 2칸씩 이동하며 조회

### 데이터의 길이를 확인하는 len() 함수

In [ ]:
num_list = list(range(1, 11))
print(num_list)

In [ ]:
len(num_list)

In [ ]:
len(길이가 있는 객체)

데이터를 반으로 나누기

In [ ]:
num_list = list(range(1, 11))
length = len(num_list)
mid = length // 2
print(mid)

half_1 = num_list[:mid]
half_2 = num_list[mid:]
print(half_1)
print(half_2)

### while 문 (while loop)

for 루프는 여러항목으로 이루어진 데이터 모음을 이용해서 반복하는데  
while 은 뒤의 조건식이 True인 동안에는 계속 반복합니다.

In [ ]:
while 조건식:
    반복실행할 코드

In [ ]:
num = 1
while num <= 10:
    print(num)
    num += 1  # num = num + 1 과 동일

print('while문 종료')

In [ ]:
# 무한루프
num = 0
while 1:  # 또는 while True:
    num += 1
    print(num)

### ⭐루프 끝내기

#### 플래그(Flag)를 사용해서 while 루프 끝내기

In [ ]:
active = True
prompt = '메뉴를 입력하세요 ( 1: 메뉴출력, 0: 종료 ): '

while active:
    user_input = int(input(prompt))
    if user_input == 0:
        print('종료합니다.')
        active = False
    elif user_input == 1:
        print('메뉴를 출력합니다.')

#### break 로 루프 빠져나가기

In [ ]:
active = True
prompt = '메뉴를 입력하세요 ( 1: 메뉴출력, 0: 종료 ): '

while True:
    user_input = int(input(prompt))
    if user_input == 0:
        print('종료합니다.')
        break
        #active = False
    elif user_input == 1:
        print('메뉴를 출력합니다.')

### continue 문으로 루프 시작지점으로 돌아가기

In [ ]:
for num in range(1, 10):
    if num % 4 == 0:  # 3으로 나눈 나머지가 0 (3의 배수인 경우)
        continue
    print(num)

## ⭐ 자판기 메뉴 구성하기

vending.py 자판기 프로그램에 다음과 같은 기능을 추가해보세요.

> 프로그램을 실행하면 다음과 같은 안내메세지가 출력되고 사용자 입력을 기다립니다.

![image.png]()

> 1 을 입력하면 다음과 같이 item_menu 리스트의 항목이 하나씩 출력됩니다.  
그 후 번호를 선택할 수 있는 입력창이 무한 반복됩니다. (다른번호도 마찬가지)

![image.png]()

> 2 를 입력하면 다음과 같이 음료이름을 입력받고 item_menu 리스트에 해당 항목을 추가합니다.

![image.png]()

> 3 을 입력하면 삭제할 음료이름을 입력받고 해당하는 항목을 item_menu 리스트에서 삭제합니다.

![image.png]()

> 0 을 입력하면 다음과 같이 프로그램이 종료됩니다.

![image.png]()