<a href="https://colab.research.google.com/github/edujongkook/8w_sbs_python_weekend/blob/main/8w_python_%EA%B8%B0%EC%B4%88_3%EC%A3%BC%EC%B0%A8_%ED%95%A8%EC%88%98%EC%99%80%EB%AA%A8%EB%93%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3주차 강의 내용
- 함수
- 주요 내장함수
- 모듈과 임포트

컬렉션과 for 문 리마인드

In [ ]:
drinks = ['콜라', '생수', '주스']
fav_sports = {'park': 'golf',
              'son': 'soccer',
              'kim': 'swimming'}

for drink in drinks:
    print(drink)

for name, sports in fav_sports.items():
    print(f'{name}\'s favorite sports is {sports}')

제어문 리마인드

In [ ]:
while True:
    num = int(input('숫자를 입력하세요 (종료: 0)\n : '))
    if num > 0:
        print('0보다 큰수 입니다.')
    elif num < 0:
        print('0보다 작은수 입니다.')
    else:  # num == 0
        print('종료합니다.')
        break

# 함수 (Function) - section11
특정 작업을 위한 코드를 미리 만들어 놓고 여러번 실행,   
함수와 정보를 주고 받을 수 있습니다.

### 기본적인 함수 형태

함수의 이름도 변수와 마찬가지로 소문자와 밑줄 ' _ '  을 주로 사용합니다.

In [ ]:
def greeting():  # 함수의 정의 (define)
    """간단한 인사를 출력하는 함수"""  # 함수의 docstring
    print("Hello~")

In [ ]:
greeting.__doc__  # docstring 확인

'greeting() - 간단한 환영인사 출력하는 함수'

In [ ]:
greeting()  # 함수 호출

Hello!

### 매개변수(Parameter)가 있는 함수

In [ ]:
def greeting(name):
    """
    간단한 인사와 이름을 출력하는 함수
    name : 이름
    """

    print(f'"Hello~ {name.title()}!')

In [ ]:
greeting('park')

"Hello~ Park!

 #### ❓ 반복문 안에서 greeting 함수를 호출 해봅시다

In [ ]:
name_list = ['lee', 'son', 'park']

# 인사말과 리스트의 이름이 각각 출력되도록 (for 문 사용)

#### 위치형 매개변수  
전달되는 순서에 따라 여러개의 매개변수를 사용할 수 있습니다.

In [ ]:
def print_pet(pet_name, pet_type):
    """반려동물의 관한 정보를 출력합니다"""
    print(f'\n반려동물 이름은 {pet_name} 입니다')
    print(f'종류는 {pet_type} 입니다.')

In [ ]:
print_pet('토리', '햄스터')

반려동물 이름은 토리 입니다
종류는 햄스터 입니다.

순서에 따라 매개변수를 할당하는 경우에는   
호출할 때 매개변수의 순서가 중요합니다.

In [ ]:
print_pet('햄스터', '토리')

반려동물 이름은 햄스터 입니다
종류는 토리 입니다.

In [ ]:
print_pet('토리', '햄스터')

반려동물 이름은 토리 입니다
종류는 햄스터 입니다.

#### ❓ 함수를 만들어 보세요
함수를 만들고 예- def operate(num1, num2)  
숫자 2개를 전달하면 덧셈, 뺄셈, 나눗셈, 곱셈 결과를  
각각 print하는 함수를 만들어 보세요

#### 키워드 매개변수

In [ ]:
def print_pet(pet_name, pet_type):
    """반려동물의 관한 정보를 출력합니다"""
    print(f'\n반려동물 이름은 {pet_name} 입니다')
    print(f'종류는 {pet_type} 입니다.')

In [ ]:
print_pet(pet_name='토리', pet_type='햄스터')

반려동물 이름은 토리 입니다
토리의 종류는 햄스터 입니다.

In [ ]:
print_pet(pet_type='햄스터', pet_name='토리')  # 위치에 상관없음

반려동물 이름은 토리 입니다
토리의 종류는 햄스터 입니다.

#### 매개변수의 기본값 (Default value)

In [ ]:
def print_pet(pet_name, pet_type = '강아지'):
    """반려동물의 관한 정보를 출력합니다"""
    print(f'\n반려동물 이름은 {pet_name} 입니다')
    print(f'종류는 {pet_type} 입니다.')

In [ ]:
print_pet('뽀삐')

반려동물 이름은 뽀삐 입니다
뽀삐의 종류는 강아지 입니다.

In [ ]:
print_pet('나비', '고양이')

반려동물 이름은 나비 입니다
나비의 종류는 고양이 입니다.

매개변수 에러

In [ ]:
print_pet()

In [ ]:
print_pet(pt_name = '토리')

#### ❓ 딕셔너리와 print_pet 함수를 함께 사용해 봅시다

In [ ]:
pets = {'토리': '햄스터',
        '뽀삐': '강아지',
        '나비': '고양이'}

# for문과 딕셔너리의 items() 매서드를 이용하여
# key와 value각각의 정보를 함수로 전달, 출력

### 반환값(Return value)이 있는 함수

In [ ]:
def get_area(x):
    """
    넓이를 반환하는 get_area() 함수
    x : x축 길이
    """
    area = x ** 2
    return area  # 함수의 반환 값

In [ ]:
area = get_area(5)
print(area)

25

#### 매개변수를 옵션으로 사용
추가적인 매개변수를 만들고 체크해 다양한 옵션을 줄 수 있습니다.

- 문자열 옵션 매개변수

In [ ]:
def get_area(x, unit=''):
    """
    넓이를 반환하는 get_area() 함수
    x : x축 길이
    unit : 단위가 주어지면 문자열로 완성시켜 반환 (소수점 2째 자리 반올림)
    """
    if unit:
        area = f'{(pi * x ** 2):.2f} {unit}'
    else:
        area = x ** 2

    return area

In [ ]:
area = get_area(10, unit='cm')
print(area)

314.16 cm

- 숫자형 옵션 매개변수

In [ ]:
def get_area(x, pi=0):
    """
    넓이를 반환하는 get_area() 함수
    x : x축 길이
    pi : pi값이 주어지면 원의 넓이 반환 (소수점 2번째 자리 반올림)
    """
    if pi:
        area = pi * x ** 2
    else:
        area = x ** 2

    return round(area, 2)  # 내장함수 round()로 반올림

In [ ]:
print(get_area(5))  # 정사각형인 경우
print(get_area(5.5, pi=3.14))  # 원의 넓이인 경우

25
94.98

#### ❓ 위의 두가지 옵션을 함께 사용해서 함수를 만들어 봅시다
def get_area(x, pi, unit) 형태로
1. 매개변수가 x 만 주어지면 정사각형의 넓이 리턴,  
2. pi값까지 주어지면 원의 넓이를 리턴.  
3. unit 문자열이 주어지면 값에 주어진 단위를 붙여서 문자열로 리턴

In [ ]:
def get_area(x, pi=0, unit=''):

### NoneType 데이터

존재하지 않는 값을 표현할 때 None 타입을 주로 사용합니다.

In [ ]:
def get_area(x, pi=None, unit=None):

- 반환값이 없는 함수인 경우 None 타입이 반환됩니다.

In [ ]:
def greeting(name):
    "간단한 환영인사를 출력하는 함수"  # 함수의 docstring

    print(f'"Hello~ {name}!')

type(greeting('kim'))

"Hello~ kim!

NoneType

- 값이 아직 존재하지 않는 경우에 주로 None 값을 사용

In [ ]:
scores = {'영어' : 80, '국어': None, '수학': None}  # 값이 아직 없는 경우

In [ ]:
type(scores.get('과학'))  # 키가 아직 없는 경우

NoneType

- 함수의 매개변수를 옵션으로 사용할 때

In [ ]:
def greeting(name=None):

    if name:
        print(f'"Hello~ {name}!')
    else:
        print('Hello~')

- None 타입 체크하는 방법

In [ ]:
none = None
if none:
    print('if none')
else:
    print('else none')  # none 은 논리형으로 False에 해당

else none

In [ ]:
none = None
if none == None:  # 논리형 비교
    print('None')

None

In [ ]:
none = None
if none is None:  # id 값 (메모리 주소) 비교
    print('None')

None

In [ ]:
none = 'hello'

if none != None:
    print(none)

hello

In [ ]:
none = 'hello'

if none is not None:
    print(none)

hello

### 컬렉션 반환하기

- 딕셔너리 리턴

In [ ]:
def build_user(name, age, city=None):
    """
    유저 딕셔너리를 만들어 반환하는 함수
    city : 기본값 None
    """
    user = {'user_name': name,
            'user_age': age}
    if city is not None:
        user['user_city'] = city
    return user

In [ ]:
user = build_user('Lee', 23)
print(user)
user = build_user('Lee', 23, 'Paris')
print(user)

{'user_name': 'Lee', 'user_age': 23}
{'user_name': 'Lee', 'user_age': 23, 'user_city': 'Paris'}

- 리스트 리턴

In [ ]:
def add_user():
    """
    반복해서 사용자 입력을 받아
    유저이름 리스트를 반환하는 함수
    """
    users = []

    while True:
        print('유저 정보를 입력해 주세요. (종료 : q)')
        name = input('이름 : ')
        if name == 'q':
            return users

        users.append(name)
        print(users)

In [ ]:
add_user()

### 컬렉션의 중첩(Nesting)

컬렉션의 값은 얼마든지 다양한 컬렉션 종류가 들어갈 수 있습니다.

- 리스트 안의 리스트

In [ ]:
numbers = [[1,2], [3,4], [7,8], [9,10]]

- 리스트 안의 딕셔너리

In [ ]:
pets = [ {'type':'강아지', 'name':'뽀삐'}, {'type':'햄스터', 'name': '토리'} ]


- 딕셔너리 안의 리스트 등등 다양하게 만들수 있습니다

In [ ]:
 club_info = {'member' : ['kim', 'park', 'jimmy', 'tori'], 'homepage':None}

### 컬렉션을 매개변수로 전달하기

- 리스트 매개변수

In [ ]:
def show_todo(todo_list):
    print('오늘 남아있는 일: ')
    for todo in todo_list:
        print(f'\t{todo}')

today_todo = ['수학공부', '방청소', '친구만나기']
show_todo(today_todo)

오늘 남아있는 일:
	수학공부
	방청소
	친구만나기

- 리스트를 전달하면 함수에서 수정할 수 있습니다.

해야할 일 리스트를 하나씩 꺼내서 해결하는 프로그램

In [ ]:
todo = ['수학공부', '방청소', '친구만나기']
completed = []

while todo:
    show_todo(todo)
    complete = todo.pop()
    print(f'{complete} 완료!\n')
    completed.append(complete)

오늘 남아있는 일:
	수학공부
	방청소
	친구만나기
친구만나기 완료!

오늘 남아있는 일:
	수학공부
	방청소
방청소 완료!

오늘 남아있는 일:
	수학공부
수학공부 완료!

In [ ]:
def show_todo(todo_list):
    """ 해야할일 리스트를 받아서 출력 """
    print('오늘 남아있는 일: ')
    for todo in todo_list:
        print(f'\t{todo}')

오늘 남아있는 일:
	수학공부
	방청소
	친구만나기
친구만나기 완료!

오늘 남아있는 일:
	수학공부
	방청소
방청소 완료!

오늘 남아있는 일:
	수학공부
수학공부 완료!

todo: []
complete:  ['친구만나기', '방청소', '수학공부']

In [ ]:
def doing_todo(todo_list, completed_list):
    """
    해야할 리스트를 받아서 해결하고
    해결된 일을 완료 리스트에 추가하는 함수
    """
    while todo_list:
        show_todo(todo_list)
        complete = todo_list.pop()
        print(f'{complete} 완료!\n')
        completed_list.append(complete)

In [ ]:
todo = ['수학공부', '방청소', '친구만나기']
completed = []

doing_todo(todo, completed)
print('todo:', todo)
print('complete: ', completed)

함수가 리스트를 수정하지 못하도록 복사본 전달하기

In [ ]:
todo = ['수학공부', '방청소', '친구만나기']
completed = []

doing_todo(todo[:], completed[:])  # 슬라이싱을 이용해 사본생성 (얕은 복사)
print('todo:', todo)
print('complete: ', completed)

친구만나기 완료!
오늘 남아있는 일:
	수학공부
	방청소
방청소 완료!
오늘 남아있는 일:
	수학공부
수학공부 완료!
오늘 남아있는 일:
todo: ['수학공부', '방청소', '친구만나기']
complete:  []

함수로 만들면
1. 구조가 이해하기 쉬워지고  
2. 다시 함수를 재사용 하기도 쉽고  
3. 수정사항을 수정하기도 쉬워집니다.

만약 함수를 사용하지 않는다면?

In [ ]:
todo = ['수학공부', '방청소', '친구만나기']
todo_2 = ['운동하기', '쇼핑', '야식먹기']
completed = []

while todo:
    show_todo(todo)
    complete = todo.pop()
    print(f'{complete} 완료!\n')
    completed.append(complete)

#### ❓ 리스트를 매개변수로 받고 리스트를 반환하는 함수를 만들어 봅시다~
다음과 같은 리스트를 함수를 이용해서 대문자로 변경한뒤 대문자로만 이루어진   
새로운 리스트를 리턴하는 함수를 만들어 봅시다.

In [ ]:
lower_words = ['sword', 'apple', 'car', 'user']

---

함수만들기 리마인드

In [ ]:
todo_list = ['수학공부', '방청소', '친구만나기']
complete_list = []

while todo_list:
    print('오늘 남아있는 일: ')
    for todo in todo_list:
        print(f'\t{todo}')
    complete = todo.pop()
    print(f'{complete} 완료!\n')
    complete_list.append(complete)

### 아규먼츠(arguments)
매개변수 갯수와 관계없이 함수를 만들 때 사용하는 방법

#### 1. 매개변수들을 모아주는 아규먼츠 (arguments)

In [ ]:
def make_pizza(*toppings):
    "주문받은 토핑들 출력"
    print(toppings)

make_pizza('할라피뇨', '양송이', '감자', '고구마')

('할라피뇨', '양송이', '감자', '고구마')

In [ ]:
def make_pizza(*toppings):
    "주문받은 토핑들 출력"
    print('토핑: ')
    for top in toppings:
        print(f'- {top}')

일반적인 매개변수와 함께 쓸 때 아규먼츠(arguments) 는 항상 마지막에 씁니다.  
아규먼츠는 *args 로 주로 표현합니다

In [ ]:
def make_pizza(size, *args):
    "주문받은 토핑들 출력"
    print(f'사이즈: {size}')
    print('토핑: ')
    for top in args:
        print(f'- {top}')

make_pizza('라지', '치즈', '고구마', '양송이')

#### 2. 키워드형 아규먼츠 (Keyword arguments)

In [ ]:
def make_profile(**user_info):
    print(user_info)

make_profile(name='kim', age=20)

{'name': 'kim', 'age': 20}

In [ ]:
def make_profile(**user_info):
    if 'location' in user_info:
        print(f"location : {user_info['location']}")

make_profile(location='영국', team='토트넘')

키워드형 아규먼츠는 보통 **kwargs (keyword args)로 표현합니다

In [ ]:
def make_profile(**kwargs):
    if 'location' in kwargs:
        kwargs['location'] = '한국'
    return kwargs

In [ ]:
make_profile(name='쏘니', location='영국', team='토트넘')

{'name': '쏘니', 'location': '한국', 'team': '토트넘'}

args와 kwargs 를 사용하면 유연한 함수를 만들어 처리할 수 있습니다.

In [ ]:
def flex(*args, **kwargs):
    print(args)
    print(kwargs)

flex(1, 2, 3, name='park', mode='auto', level=14)

(1, 2, 3)
{'name': 'park', 'mode': 'auto', 'level': 14}

## 파이썬 내장함수(Built in Function -section9, 10)
파이썬을 설치하면 기본적으로 제공되는 함수들

In [ ]:
# 여러가지 내장 함수들
print('hello')

hello

In [ ]:
input('input')

inputhello

'hello'

In [ ]:
len([1, 2, 3])

3

In [ ]:
range(1, 10)

range(1, 10)

### 숫자관련 내장함수

- min()  
주어지는 숫자들 중 가장 작은값을 출력

In [ ]:
min(100, 5, 2)  # 값들 중에 최소값

In [ ]:
min([1,2,3,4,5])  # 리스트와 같은 컬렉션도 가능

- max()  
주어지는 숫자들 중 가장 작은값을 출력

In [ ]:
max(100, 5)  # 값들 중에 최대값

In [ ]:
max([10,43,20,123,40])

- round()  
반올림 함수 (자릿수를 지정하지 않으면 소수점을 반올림)

In [ ]:
import math
print(math.pi)
round(math.pi)

3.141592653589793

3

두번째 매개변수로 소숫점 자리수를 정해줄 수 있습니다.

In [ ]:
round(math.pi, 2)  # 반올림해 출력될 자릿수 지정

3.14

- sum()  
주어진 숫자들의 총합

In [ ]:
sum([1,2,3,4,5])  # 리스트 같은 컬렉션도 가능

sum() 함수와 *args 를 사용한 총합 계산 함수

In [ ]:
def total(*args):
    return sum(args)

total(1, 4, 5, 10)

20

#### ❓ 평균을 구하는 함수 만들기
위의 total() 함수처럼 *args 를 받아서  
주어지는 숫자들의 평균을 리턴하는 함수 mean() 을 만들어 보세요  


> Q1. 평균은 총합을 총 갯수로 나눈 값입니다.   
예) 3과 5의 평균은 3+5인 8을 숫자 갯수 2로 나눈 4 입니다.  
(갯수를 세는 len() 함수와 총합을 계산하는 sum() 함수 사용)

> Q2. 평균을 리턴할 때 소수점 2째 자리에서 반올림 해서 리턴해 주세요  
(반올림 하는 round() 함수 사용)

### N-진수 관련 함수

10진법 - 0 ~ 9  
2진법 - 0 ~ 1  
8진법 - 0 ~ 7  
16진법 - 0 ~ F (A: 10, B: 11, C: 12, D: 13, E: 14, F: 15)

In [ ]:
bin(10)  # 2진법 (binary)

'0b1010'

In [ ]:
oct(10)  # 8진법 (octal)

'0o12'

In [ ]:
hex(10)  # 16진법 (hexadecimal)

'0xa'

In [ ]:
int()  # 10진법으로 integer

10

### 문자관련 내장함수

In [ ]:
ord('A')

65

In [ ]:
ord('가')

44032

In [ ]:
ord('개')

44060

In [ ]:
chr(65)

'A'

문자를 해당되는 숫자로 표현하는 것을 문자 인코딩 이라고 합니다.

이러한 인코딩 숫자는 특정방식으로 문자를 처리할 때 사용됩니다.

#### ⚡ 한글 단어 마지막 글자의 받침 확인 함수
    # 한글 조합에서 받침은 총 27개가 가능해서
    # 받침이 없는 글자들의 숫자는 28씩 차이가 나는 패턴이 있음.
    # ex) '가' : 44032 / '개' : 44060

In [ ]:
s=''
for ord_n in range(ord('가'), ord('개')):
     s += chr(ord_n) + ' '
print(s)

가 각 갂 갃 간 갅 갆 갇 갈 갉 갊 갋 갌 갍 갎 갏 감 갑 값 갓 갔 강 갖 갗 갘 같 갚 갛

In [ ]:
def check_base(k_word):
    """
    한글 단어의 마지막 글자가 받침이 있는지 없는지 체크하는 함수
    check_base(k_word) k_word: 한글단어
    return True: 받침이 있음
    return False: 받침이 없음
    """

    last_word = k_word[-1]
    ord_word = ord(last_word) - ord('가')

    if ord_word % 28 == 0:  # 받침이 없는 경우
        return False

    else:
        return True  # 받침 있음

check_base('강아지')

False

#### ❓ 한글 단어에 따라 '이' 또는 '가' 를 붙여주는 함수를 만들어 봅시다.  
앞의 check_base 함수를 사용해서 마지막 글자에 받침이 있으면   
'이' 를 붙여서 리턴하고 받침이 없으면 '가' 를 붙여서 리턴하는   
plus_iga(word) 함수를 만들어보세요

> 예) plus_iga('아기곰') -> '아기곰이' 리턴  
    plus_iga('강아지') -> '강아지가' 리턴  
    (문자열을 합치는 + 연산자 사용)

In [ ]:
for pet in ['강아지', '아기곰']:
    print(f'{plus_iga(pet)} 밥을 먹습니다')

강아지가 밥을 먹습니다
아기곰이 밥을 먹습니다

In [ ]:
def plus_iga(word):
    """ 한글단어를 받아 적절한 '이/가' 를 붙여 리턴"""

    if check_base(word):
        word = word + '이'
    else:
        word = word + '가'
    return word

⚡ 문자 인코딩(Encoding <-> Decoding) - 각 문자를 컴퓨터 코드로 나타내는 방법  
https://terms.naver.com/entry.naver?docId=5662548&cid=43667&categoryId=43667

인코딩 방식에는 여러가지를 사용할 수 있습니다.
- 아스키코드 (ASCII)
- EUC-KR
- 유니코드 (UNICODE) 등



> 아스키코드 일부

![제목 없음.png]()

# 모듈과 import - section11, 12

### 모듈 만들기  
❗ 모듈생성은 IDLE 환경에서 실습합니다.

모듈은 .py 로 끝나는 파이썬 소스파일 입니다.  
IDLE 편집기로 소스파일을 만들고 함수를 넣어봅시다.

함수들이 들어있는 파일을 sample_module.py 라고 저장하고 새로운 파일을 열어  
import 합니다. 새로운 파일은 test.py 로 저장합니다.

- 전체 모듈 임포트 하기

In [ ]:
import sample_module

임포트한 모듈의 모든 함수를 사용할 수 있습니다.

In [ ]:
print(sample_module.mean(3, 10, 20))

In [ ]:
print(sample_module.total(1, 20, 3))

이렇게 임포트하면 sample_module의 모든 함수가 현재 작업중인  
test.py 파일로 카피됩니다 (실행 시)

- 필요한 함수만 임포트 하기

모듈에서 사용할 함수만 선택해서 임포트 할수 있습니다.

In [ ]:
from sample_module import total

print(total(20, 30, 40))

여러개의 함수를 선택해서 임포트 할 수 있습니다.

In [ ]:
from sample_module import total, plus_iga

print(total(20, 30, 40))
print(plus_iga('햄스터'))

함수를 선택해서 임포트 하는 경우 모듈이름 없이 함수 이름만으로 호출 됩니다.

- 모든 함수를 모듈이름없이 임포트하여 사용

In [ ]:
from sample_module import *

모듈이름 없이 사용할 때에는 함수이름이 중복되지 않도록 주의

In [ ]:
from sample_module import *

def mean(*args):
    print('test.py 안에 있는 mean')

print(mean(10, 20, 30))  # sample_modue 안에있는 함수 mean과 충돌

- as 로 별칭 붙이기  
모듈이나 함수를 임포트 할때 이름을 줄여서 쓸수 있습니다.

모듈이름 별칭 만들기

In [ ]:
import sample_module as sm

print(sm.total(1, 2, 3))

함수이름 별칭 만들기

In [ ]:
from sample_module import plus_iga as iga

print(iga('철수'))

### 파이썬 내장 모듈 소개
❗ 다시 코랩에서 실습

#### time 모듈  
시간과 관련된 유용한 함수들을 제공합니다.

In [ ]:
import time

- localtime() 함수

In [ ]:
tm = time.localtime()
tm

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=22, tm_hour=10, tm_min=5, tm_sec=25, tm_wday=6, tm_yday=295, tm_isdst=0)

- ctime() 함수

In [ ]:
ct = time.ctime()
ct

'Sun Oct 22 10:05:18 2023'

#### ⚡ strftime(format, time_struct) 함수 - string from time  
format 형식 :
https://www.ibm.com/docs/ko/i/7.3?topic=functions-strftime-convert-datetime-string

In [ ]:
time.strftime('%Y-%m-%d %H:%M:%S', tm)

'2023-10-22 10:05:25'

- time() 함수 - timestamp

In [ ]:
time.time()

1697903436.761967

- sleep() 함수

In [ ]:
time.sleep(5)

In [ ]:
sec = 1
while sec<6:
    print(f'\r{sec}', end='')
    time.sleep(1)
    sec = sec + 1

5

- 시간차 (time elapse) 구하기

In [ ]:
start = time.time()
n = 0
for t in range(1, 1000_0000):
    n = n + t
end = time.time()
print(round(end - start, 3), n)

0.85 49999995000000

- colap 환경에서 시간차 쉽게 구하는법

In [ ]:
%%time
n = 0
for t in range(1, 1000_0000):
    n = n + 1

CPU times: user 1.5 s, sys: 0 ns, total: 1.5 s
Wall time: 1.52 s

- colap에서 시간 성능 테스트

In [ ]:
%%timeit
n = 0
for t in range(1, 1000_0000):
    n = n + 1

612 ms ± 6.44 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)